.sidebar {
  position: relative;
  width: 197px; /* Adjust the width as needed */
  height: 1024px; /* Set the height to 100% of the viewport height */
  background-color: white; /* Dark gray background */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
}

.logo {
  margin-bottom: 20px; /* Adjust as needed */
}

.nav-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: black;
  text-decoration: none;
}

.nav-link .icon {
  margin-right: 10px; /* Adjust as needed */
}

.nav-link:hover {
  color: white; /* Change the text color when hovering */
  background-color: #395986; /* Change the background color when hovering */
}

.nav-link.active {
  font-weight: bold;
}

.logout {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-top: auto; /* Push the logout button to the bottom of the sidebar */
  margin-bottom: 60px; /* Add space below the logout button */
  color: black;
  cursor: pointer;
}
