@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Default styles */
.sidebar {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  height: 107vh;
  width: fit-content;
  position: relative;
  bottom: 40px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10 and IE11 */
  user-select: none; /* Standard syntax */

}

.container {
  display: flex;
  height: 100vh;
  /* margin-left: -19px; */
 
}

.logo {
  margin-bottom: 20px;
}

.nav-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  color: rgb(0, 0, 0); /* Set default text color to black */
  font-weight: bold;
}

.nav-link:hover {
  background-color: #395986; /* Change the background color when hovered over */
}

.nav-link.active {
  background-color: #395986;
  color: #151517;
}

.logout {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-top: auto;
  margin-bottom: 60px;
  color: black;
  cursor: pointer;
}
