@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Default styles */
.sidebar {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  height: 103vh;
  width: -moz-fit-content;
  width: 200px;
  position: relative;
  bottom: 20px;
  left: 5px;
  -webkit-user-select: none;
  user-select: none;

}

.container {
  display: flex;
  height: 103vh;

 
}

.logo {
  margin-bottom: 20px;
}

.nav-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  color: rgb(0, 0, 0); /* Set default text color to black */
  font-weight: bold;
}

.nav-link:hover {
  background-color: #395986; /* Change the background color when hovered over */
}

.nav-link.active {
  background-color: #395986;
  color: #151517;
}

.logout {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-top: auto;
  margin-bottom: 60px;
  color: black;
  cursor: pointer;
}
