/* Default styles */
.session-list {
  height: 100vh;
  left: 23px;
  position: relative;
  padding: 20px;
  font-family: Poppins, sans-serif;
  background-color: #f2f2f2;
  border-collapse: collapse;
  border-radius: 10px;
 
  border-bottom: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none; 
  overflow: auto;
}
.App {
  font-family: Arial, sans-serif;
}

.camera-button-lecture {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.camera-icon-lecture {
  margin-left: 10px;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: left;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.field1-label ,.field2-label {
  display: inline-block;
  width: 100px;
}



.lecture-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

.lecture-name {
  color: #002252;
}

.session-list thead th {
  background-color: #ffffff;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  padding: 15px;
  text-align: center;
}

.session-table {
  width: 100%;
  row-gap: 20px !important;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 30px !important;
}

.create-lecture {
  color: #ffffff;
  background-color: #4a9f48;
  border: #395986;
  font-size: 15px;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
  padding: 8px 20px;
  width: 212px;
  height: 50px;
  justify-content: center;
  line-height: 30px;
  display: flex;
}

.create-lecture:hover {
  background-color: #4a9f48;
}

.delete-lecture {
  border: 1px solid transparent;
  padding: 0px 1px;
  left: 18px;
  background: none;
  cursor: pointer;
  position: relative;
  background-color: #f2f2f2;
}

.delete-lecture:hover {
  background-color: transparent;
}

.body-table-lecture {
  background-color: white;
  top: 40px;
  position: relative;
  text-align: center;
  font-family: Poppins, sans-serif;
  border-spacing: 0 10px;
}

.row-wrapper {
  padding-bottom: 10px; 
}


.pen-icon-lecture {
  width: 15%;
}

.del-icon-lecture {
  width: 30px;
  height: 30px;
}

.camera-button-lecture {
  color: #ffffff;
  background-color: #4a9f48;
  border: 1px solid #395986;
  font-size: 12px; 
  cursor: pointer;
  border-radius: 20px; 
  text-align: center;
  padding: 4px 10px; 
  width: 150px; 
  height: 35px; 
  justify-content: center;
  line-height: 30px; 
  display: flex;
  margin-left: 60px;
}

.camera-icon-lecture {
  padding: 0px 5px;
}

.camera-button-lecture:hover {
  background-color: #4a9f48;
}

