#course-edit-header{
  position: relative;
  text-indent: 6.9%;
  font-size: 45px;
  top: -40px;
  font-weight: 400;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10 and IE11 */
  user-select: none; /* Standard syntax */
}

#course-edit-form {
  background-color: #ffffff;
  margin: 1% 1% 25% 12%; /* top right bottom left */
  width: 75%;
  justify-content: center;
  display:grid;
  justify-items:stretch;
  height: 80vh; 
  width: 77vw; 
  position: relative;
  left: -8vh;
  bottom: 8vh;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10 and IE11 */
  user-select: none; /* Standard syntax */
}

#course-edit-form-header{
  color:#002251;
  text-align:center;
  vertical-align:text-middle;
  line-height:auto;
  border-style:hidden;
  font-size: 3vh;
  outline:none;
  position: relative;
  bottom: 4vh;
  margin-bottom: -9vh;
}

#course-edit-forms-parent{
  justify-content: space-around;
  flex-direction: column;
  display: block;
  margin-bottom: 55%;
}

#course-edit-form-child{
  justify-content: space-between;
  flex-direction: column;
  display: block;
  font-size: 24px;
  font-weight:400;
  background-attachment: fixed;
}

.course-edit-form-field {
  display: flex;
  flex-direction: column;
  padding: 5%;
}
#course-edit-form-field-code {
  display: flex;
  flex-direction: column;
  padding: 5%;
  
}


.course-edit-form-field input {
  background-color: #f3f3f3;
  height: 4vh;
  border-radius: 10px ;
  border: 2px solid #2b56b4;
  font-weight: 400;
  font-size: 20px;
  padding: 2% 5% ;
}

#course-edit-form-field-code input {
  background-color: #f3f3f3;
  height: 4vh;
  border-radius: 10px ;
  border: 2px solid #2b56b4;
  font-weight: 400;
  font-size: 20px;
  width: 175px;
  padding: 2% 5% ;
}

.course-edit-form-field select {
  background-color: #f3f3f3;
  height: 5vh;
  /* min-height:25px; */
  border-radius: 10px ;
  border: 2px solid #2b56b4;
  font-weight: 400;
  font-size: 20px;
  padding: 3% 5% 1% 5%;
}

.course-edit-form-field select:first-child{
  color: #ffffff;
}

#term-year-form {
  display: flex;
  flex-direction: row;
  padding: 5%;
  margin-bottom: -10%;
}

/* #term-year-form label{
  transform: translateX(200px);
} */

#xxx{
  transform: translateX(45px);
}

#term-year-form select {
  background-color: #f3f3f3;
  height: 5vh;
  border-radius: 10px ;
  border-color: #1B3877;
  font-weight: 400;
  font-size: 20px;
  width: 15vh;
  padding: 2% 5% ;
  border: 2px solid #2b56b4;
  display: inline-block;
  margin-right: 20px;
}

  #edit-course-button{
    position: relative;
    color: #FFFFFF;
    background-color: #395986;
    border: #395986;
    font-size: 20px;
    cursor: pointer;
    width: 50%;  
    display: flex; /* Use flexbox for layout */
    /* margin-top: 20%; */
    border-radius: 25px; 
    text-align: right;
    padding: 5%;
    justify-content: center;
    left: 190%;
    top: 8vh;
    justify-self: left;
  }

  #edit-course-button:hover{
    background-color: #222122c2;

  }


  .all-forms-col{
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    margin-bottom: 55%;
   
  }
