.students-main-header-create{
  position: relative;
  text-indent: 5.9%;
  font-size: 45px;
  font-weight: 400;
  bottom: 10px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10 and IE11 */
    user-select: none; /* Standard syntax */
  }

  .student-header-of-form{
    color:#002251;
    text-align:center;
    vertical-align:text-middle;
    line-height:auto;
    border-style:hidden;
    font-size: 3vh;
    outline:none;
    position: relative;
    bottom: 4vh;
    margin-bottom: -9vh;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10 and IE11 */
    user-select: none; /* Standard syntax */
  }


  .parent-div {
    background-color: #ffffff;
    justify-content: center;
    justify-items:stretch;
    margin: -2% 12% 0 20%;
    display:grid;
    width: 70vw; 
    
  }


  .student-name{
    text-align: center;
    margin-bottom: 10%;
    font-weight: 400;
    font-size: 34px;
    
  }

  .left-container-text{
    margin-bottom: 1000%;
    font-weight: 400;
    color: #4D4D4D;
    font-size: 30px;
    margin-left: 30%;

  }
  .create-form-student {
    background-color: #ffffff;
    /* margin: -7% 1% 0% 10%; */
    width: 75%;
    justify-content: center;
    display: grid;
    justify-items: stretch;
    height: 92vh;
    width: 80vw;
    bottom: 30px;
    position: relative;
    left: 6vh;
    
    
  }
  

  .all-forms-create-student{
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    font-size: 24px;
    font-weight:400;
    background-attachment: fixed;
    width: 500px;
   
  }

  
  .form-field input {
    background-color: #f3f3f3;
    height: 4vh;
    border-radius: 10px ;
    border: 2px solid #2b56b4;
    font-weight: 400;
    font-size: 20px;
  }

  /* .courses-select {
    background-color: #f3f3f3;
    height: 4vh;
    border-radius: 10px ;
    border-color: #1B3877;
    font-weight: 400;
    font-size: 20px;
    border-width: 2px;
  } */

  .level-sperate{

    position: relative;
    top: -1%;
  }
  .level-select{
    position: relative;
    background-color: #f3f3f3;
    border-radius: 10px ;
    border-color: #1B3877;
    border-width: 2px;
    font-weight: 400;
    font-size: 20px;
    width: 280px;
    height: 4.5vh;
    /* top: 10px; */
  }
  
  .form-field-student-create {
    display: flex;
    flex-direction: column;
    padding: 5%;
    max-width: 100%;
    align-self: left;
  }

  .file-field{
    display: flex;
    flex-direction: column;
    padding: 5%;
    max-width: 100%;
    align-self: left;
  }


  .id-level-form-create-student input {
    background-color: #f3f3f3;
    height: 4vh;
    border-radius: 10px ;
    border: 2px solid #2b56b4;
    font-weight: 400;
    font-size: 20px;
    max-width: 130px;

  }

  .id-level-form-create-student label {
    display: flex;
    position: relative;
    flex-direction: column;

  }
  
  .id-level-form-create-student {
    display: flex;
    flex-direction: row;
    padding: 5%;
    align-self: left;
    position: relative;
    justify-content: space-between;
  }

  #edit-create-button{
    position: relative;
    color: #FFFFFF;
    background-color: #4A9F48;
    border: #395986;
    font-size: 20px;
    cursor: pointer;
    width: 35%;
    display: flex;
    border-radius: 25px;
    text-align: right;
    padding: 2%;
    justify-content: center;
    left: 106%;
    top: -9vh;
  }


  #edit-create-button:hover{
    background-color: #2f662e;

  }


  .all-forms-col-create{
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    font-size: 18px;
    font-weight:200;
    background-attachment: fixed;
   
  }



  .mandatory {
    color: red;
    margin-left: 1px; /* Adjust spacing as needed */
  }

  .id-level-form label:after{
    content: '*'; /* Add the asterisk as content */
    color: red;
    display: contents;
  }