
/* 
  h1 {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    color: #002252;
    margin-top: 1%;
    margin-left: 28%;
    text-align: center;
  }

  button {
    font-family: 'poppins', sans-serif;
    color: #ffffff;
    border-radius: 4px;
    font-size: 2.5rem;
    cursor: pointer;
    width: 200px;
    top: 550px;
    left: 75%;  
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    transform: translateX(23%) translateY(-120%);
  }
  
  .form-field label {
    margin-bottom: 5px;
    font-weight: 400;
    margin-left: 26%;
    font-family: 'poppins', sans-serif;
    text-align: left;
    font-size: 24px;

  }
  
  .form-field input {
    display: grid;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 25%;
    justify-self: center;
    margin-left: 26%;
  
  }
  
  .form-field button {
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  .form-field button:hover {
    background-color: #45a049;
  }
  
  .form-field:last-child button {
    margin-top: 100;
  }
  
  .form-field input[readonly] {
    background-color: #f3f3f3;
    cursor: not-allowed;
  }
  
  .account-settings-header button {
    background-color: #f44336;
  }
  
  .account-settings-header button:hover {
    background-color: #e51c23 
  }

  .left-container-picture{
    margin-top: -47%;
    margin-left: 4.2%;
  }

  .left-container-text-1{
    margin-left: 4.2%;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    size: 24px;
    line-height: 26px;
  }

  .left-container-text-2{
    margin-left: 5.2%;
    font-family: 'poppins', sans-serif;
    font-weight:  600;
    line-height: 36px;
    color: #4D4D4D;
  } */


  body{
      background-color: #f2f2f2;
      margin-top:6% ;
    
  }

  .parent-div {
    display: flex;
    justify-content: center;
    background-color: #BEBEBE;
    margin-left: 20%;
    margin-right: 12%;
    height: 70vh; 
    width: 70vw; 
    
  
    
  }
  .account-settings-form {
    background-color: #ffffff;
    padding: 5%;
    margin: 1%;
  }

  .account-settings-profile {
    background-color: #ffffff;
    /* padding: 5%; */
    margin: 1%;
    margin-left: 1%;
  }

