#student-settings-container{
  flex-direction: column;
  height: 110vh;
  width: 100%;
  margin-left: -200px;
  margin-top: -60px;
}

#student-settings-top-header{
  position: relative;
  text-indent: 19.9%;
  font-size: 45px;
   top: 60px;
  font-weight: 400;
  -webkit-user-select: none;
  user-select: none;
}

#student-container-header{
  position: relative;
  left: 300px;
  top: 15px;
  color: #FFFFFF;
  background-color: #395986;
  border: #395986;
  font-size: 20px;
  cursor: pointer;
  width: 10%;
  top: 28px;
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0.5% 0%;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#student-setting-card {
  display: flex;
  justify-items: stretch;
  background-color: #BEBEBE;
  margin: 30 12% 0 20%;
  height: 550px;
  width: 70vw;
  position: relative;
  left: 260px;
  top: 33px;
  -webkit-user-select: none;
  user-select: none;
}

#student-settings-profile {
  background-color: #ffffff;
  margin: 1%;
  margin-left: 1%;
  width: fit-content;
  justify-items: center;
  display: flex;
  flex-direction: column;

}

#student-pic{
  width: 250px;
}

#student-name{
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  position: relative;
  left: 14px;
  bottom: 40px;
  width: -moz-fit-content;
  width: fit-content;

}

#phone{
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  flex-wrap: wrap;
  top: -45px;
  left: 11px;
}


#phone-pic{
  position: relative;
  bottom: 64px;
    /* margin-top: -26%; */
  /* left: -3%; */
  width: 25px;
  height: 25px;
}

#student-roll{
    font-weight: 400;
    color: #4D4D4D;
    position: relative;
    bottom: 230px;
    font-size: 25px;
    text-align: center;
}

#level{
  position: relative;

  color: #4D4D4D;
  font-size: 30px;
  text-align: center;
  bottom: 220px;

}

#student-phone{
  position: relative;
  /* top: -208.5vh; */
  font-weight: 400;
  color: #4D4D4D;
  font-size: 30px;
  left: 3.9vh;
}

#level{
  position: relative;
  /* margin-bottom: 1000%; */
  /* font-weight: 400; */
  color: #4D4D4D;
  font-size: 30px;
  text-align: center;
}

#student-settings-form-parent {
  background-color: #ffffff;
  margin: 1%;
  width: 100%;
  justify-content: center;
  display:grid;
}
 
#student-settings-form-col {
  justify-content: space-around;
  flex-direction: column;
  display: flex;
}

#student-settings-form{
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  font-size: 18px;
  font-weight:200;
  background-attachment: fixed;
}
 
#student-settings-header{
  color:#002251;
  text-align:left;
  vertical-align:text-middle;
  line-height:auto;
  border-style:hidden;
  outline:none;
}

.student-settings-form-label{
  width: 100%;
}

.student-settings-form-field {
  display: flex;
  flex-direction: column;
  padding: 2% 0;
  width: 100%;
}

.student-settings-input{
  background-color: #f3f3f3;
  border-radius: 10px;
  border-color: #1B3877;
  border: 2px solid #2b56b4;
  padding: 5px 20px;
  color: #434343;
  font-size: 20px;
}

#student-settings-save-button {
  color: #FFFFFF;
  background-color: #395986;
  border: #395986;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  display: flex;
  margin-top: 3%;
  border-radius: 25px;
  text-align: right;
  padding: 5%;
  justify-content: center;
}

#student-settings-save-button:hover {
  background-color: #4e7bb9;
}
