Layout.css

.layout {
    display: flex;
  }
  
  .topbar {
    background-color: #f8f9fa;
    color: #212529;
    /* padding: 10px 20px; */
    width: 100%;
    z-index: 1; /* Ensure the topbar is above other elements */
  }
  
  .sidebar {
    background-color: #343a40;
    color: white;
    width: 250px;
    flex-shrink: 0; /* Prevent sidebar from shrinking */
  }
  