.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.topbar {
  background-color: #f8f9fa;
  color: #212529;
  padding: 10px 20px;
  width: 30%; /* Adjust the width as needed */
  z-index: 1;
  margin-bottom: 20px;
}

.sidebar {
  background-color: #343a40;
  color: white;
  width: 250px;
  flex-shrink: 0;
  margin-left: 0; /* Remove the margin-left */
}