/* Default styles */
.professors-list {
  height: 100vh;
  bottom: 45px;
  margin-left: 20px;
  position: relative;
  font-family: Poppins, sans-serif;
  background-color: #f2f2f2;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: none; /* Adjust border style and color */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10 and IE11 */
  user-select: none; /* Standard syntax */
}

.professor-header-admin{
  left: 30px;
  position: relative;
}

.professors-list table {
  width: 100%;
  row-gap: 20px !important;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 30px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10 and IE11 */
  user-select: none; /* Standard syntax */
}

.professors-list thead th {
  padding: 15px;
  border: none;
  text-align: center;
}

.professors-list thead {
  border-bottom: 1px solid #ffffff;
}

.professors-list thead th {
  background-color: #ffffff;
  font-weight: bold;
  font-family: Poppins, sans-serif;
}

.button1 {
  position: relative;
  color: #ffffff;
  background-color: #4a9f48;
  border: #395986;
  font-size: 15px;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
  padding: 8px 20px;
  left: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px; /* Adjust the line-height to move the text down */
  margin-bottom: 10px; /* Added margin for spacing */
}
.button1:hover{
background-color: #4a9f48;

}

.header {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
}

.professors-list-row {
  background-color: #4a9f48;
}
.professors-list tr{
  margin-bottom: 20px;
}

.button2 {
  border: 1px solid transparent;
  padding: 0px 1px;
  background: none;
  cursor: pointer;
  position: relative;
  background-color: #f2f2f2;
}

.button2:hover {
  background-color: transparent; /* Ensure transparency on hover */
}

.body-table {
  background-color: white;
  top: 40px;
  position: relative;
  text-align: center;
  font-family: Poppins, sans-serif;
}

.edit-icon {
  width: 10%;
}

.delete-icon {
  width: 30px;
  height: 30px;
}

.empty-row {
  background-color: #f2f2f2;
}




