/* .professorItem {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  
  .professorName,
  .professorId,
  .professorDashboard,
  .professorActions {
    flex: 1;
  } */
  
  /* Additional styling for actions and icons */
  