.professors-list {
  max-width: 1230px;
  height: 100vh;
  margin: 40px; 
  margin-left: 200px;
  margin-top: 80px;
  padding: 20px;
  font-family: poppins;
  background-color: #F2F2F2;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: none; /* Adjust border style and color */
}
.professors-list table {
  width: 100%;
  table-layout: fixed; /* Fix column width */
}
.professors-list thead th,
.professors-list tbody td {
  padding: 15px; /* Increased padding for space */
  border: none;
  text-align: center;
}

.professors-list thead {
  /* Create a single border for all headers */
  border-bottom: 1px solid #ffffff; /* Adjust border style and color */
}

.professors-list thead th,
.professors-list tbody td {
  padding: 15px; /* Maintain padding for space */
  text-align: center;
}
.professors-list thead th {
  background-color: #ffffff; /* Light gray header background */
  font-weight: bold;
  font-family: poppins;
}
.professors-list button{

  left: 800px;
  position: relative;
  color: white;
  position: relative;
  color: #FFFFFF;
  background-color: #4A9F48;
  border: #395986;
  font-size: 20px;
  cursor: pointer;
  border-radius: 25px; 
  text-align: center;
  padding: 8px 20px;
  width: auto;
  display: flex;
  bottom: 60px;
  justify-content: center;
  line-height: 30px; /* Adjust the line-height to move the text down */
}
.header{
  display: flexbox; /* Use flexbox */
  align-items: center; /* Align items vertically */
}