.professor-item {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
  }
  
  .professor-name,
  .professor-id {
    flex: 1;
  }
  
  .professor-dashboard,
  .professor-actions {
    flex: 0 0 auto;
    padding: 0 10px;
    /* Use this space to add your icon styles */
  }
  