.course-list-student {

  height: 100vh;
  left: 23px;
  bottom: 35px;
  position: relative;
  padding: 20px;
  font-family: poppins;
  background-color: #F2F2F2;
  border-collapse: collapse;
  border-radius: 10px;
  border-bottom: none; /* Adjust border style and color */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10 and IE11 */
  user-select: none; /* Standard syntax */
  overflow: auto;
}
.course-header-student {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10 and IE11 */
  user-select: none; /* Standard syntax */
  overflow-y: auto;
}
.course-list-student thead th {
  background-color: #ffffff; 
  font-weight: bold;
  font-family: poppins;
  padding: 15px; 
  text-align: center;
}
.course-table-student{

  width: 100%;
   row-gap: 20px !important;
   table-layout: fixed; 
   border-collapse: separate;
  border-spacing: 0 30px;
 }





.body-table-course-student{
  background-color: white;
  top: 40px;
  position: relative;
  text-align: center;
  font-family: poppins;
}

 .button-course-student {
  color: #FFFFFF;
  background-color:#395986;
  border: 1px solid #395986;
  font-size: 12px; /* reduced font size */
  cursor: pointer;
  border-radius: 20px; /* reduced border radius */
  text-align: center;
  padding: 4px 10px; /* reduced padding */
  width: 150px; /* reduced width */
  height: 35px; /* reduced height */
  justify-content: center;
  line-height: 30px; /* reduced line height */
  display: flex;
  margin-left: 80px;
}