#professor-edit-container{
  flex-direction: column;
  height: 110vh;
  width: 100%;
  margin-left: -200px;
  margin-top: -60px;
}

#professor-edit-header{
  position: relative;
  text-indent: 26.9%;
  font-size: 45px;
  top: 50px;
  font-weight: 400;
  -webkit-user-select: none;
  user-select: none;
}

#professor-edit-form {
  background-color: #ffffff;
  justify-content: center;
  justify-items: stretch;
  margin: 5% 12% 0 26%;
  display: grid;
  width: 70vw;
}

#professor-edit-forms-col{
  justify-content: space-around;
  flex-direction: column;
  display: flex;
}

#professor-edit-all-forms{
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  font-size: 18px;
  font-weight:200;
  background-attachment: fixed;
}

#professor-header-of-form{
  color:#002251;
  text-align:center;
  vertical-align:text-middle;
  line-height:auto;
  border-style:hidden;
  outline:none;
}

.professor-edit-form-label{
  width: 100%;
}

.professor-edit-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.professor-edit-form-field-input{
  background-color: #f3f3f3;
  height: 4vh;
  border-radius: 10px ;
  border: 2px solid #2b56b4;
  font-weight: 400;
  font-size: 20px;
  padding: 1% 5%;
}

#professor-edit-button{
  justify-content: right;
  display: flex;
  margin: 0% 0 15%;
}

#edit-button{
  color: #FFFFFF;
  background-color: #395986;
  border: #395986;
  font-size: 20px;
  cursor: pointer;
  width: 100%;  
  display: flex; /* Use flexbox for layout */
  border-radius: 25px; 
  padding: 5%;
  justify-content: center;
  text-align: center;
}

#edit-professor-button:hover{
  background-color: #222122c2;

}