.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  color: #fff;
  padding: 0 20px;
  width: 80vw;
  margin-left: 197px;
}

.topbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.menu-item {
  margin-right: 20px;
}

.topbar-user {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.topbar-user img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw; /* Match the width with the first code */
  height: 60px;
  background-color: #ffffff;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-left {
  margin-right: 20px;
}

.topbar-date {
  color: #fff; /* Match the text color with the first code */
  font-size: 14px;
  margin-left: 10px;
}

.topbar-right {
  margin-left: 20px;
}

.notification-badge {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.notification-badge img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px;
}

.notification-name {
  font-weight: bold;
  font-size: 14px;
  margin-left: 5px;
}