.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  color: #fff;
  padding: 0 20px;
  width: 80vw;
  margin-left: 197px;
  position: absolute;
  top: 0;
  left: 40px;
  width: 78vw; /* Match the width with the first code */




}

.topbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.menu-item {
  margin-right: 20px;
}

.topbar-user {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.topbar-user img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}



.topbar-left {
  margin-right: 20px;
}

.topbar-date {
  color: #000000; /* Match the text color with the first code */
  font-size: 14px;
 margin-right: 20px;
  line-height: 60px;
}

.topbar-right {
  float: left;
  display: flex;
  margin-left: 10px;
}

.notification-badge {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.notification-badge img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px;
}

.notification-name {
  font-weight: bold;
  font-size: 14px;
  margin-left: 5px;
  color: #000000;
  line-height: 30px;
}
.calendar-image{

width: 40px;
height: 40px;
margin-top: 10px;
margin-right: 20px;
}