/* styles.css */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-left {
  display: flex;
  align-items: center;
}

.topbar-date {
  font-size: 20px;
  margin-right: 20px;
}

.topbar-notifications {
  position: relative;
}

.topbar-notifications img {
  height: 30px;
  width: 30px;
}

.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff0000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-badge img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.notification-name {
  color: #fff;
  margin-left: 5px;
  font-size: 12px;
}