.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  color: #fff;
  padding: 0 2%;
  width: calc(100% - 65px); /* Subtract the sidebar width from 100% */
  position: absolute;
  top: 0;
  left: 0px; /* Adjust according to your sidebar width */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10 and IE11 */
  user-select: none; /* Standard syntax */
}

.topbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.menu-item {
  margin-right: 20px;
}

.topbar-user {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.topbar-user img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.topbar-left {
  margin-right: 20px;
}

.topbar-date {
  color: #000000;
  font-size: 14px;
  margin-right: 20px;
  line-height: 60px;
}

.topbar-right {
  float: left;
  display: flex;
  margin-left: 10px;
}

.notification-badge {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.notification-badge img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px;
}

.notification-name {
  font-weight: bold;
  font-size: 14px;
  margin-left: 5px;
  color: #000000;
  line-height: 30px;
}

.calendar-image {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-right: 20px;
}

/* Large screens (1025px and above) */
@media (min-width: 1025px) {
  .topbar {
    width: calc(100% - 65px);
    left: 0;
  }
}

/* Medium screens (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .topbar {
    width: calc(100% - 24px);
    left: 2px;
  }
}

/* Small screens (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .topbar {
     width: calc(100% - -4px);
     left: 4px;
     height: 44px;
  }
  .topbar-user img {
    height: 40px;
    width: 40px;
  }
  .menu-item {
    margin-right: 10px;
  }
}

/* Extra small screens (up to 480px) */
@media (max-width: 480px) {
  .topbar {
    display: none;
  }
  .topbar-left, .topbar-date, .topbar-right {
    display: none; /* Hide certain elements on smaller screens */
  }
  .topbar-user img {
    display: none;
  }
  .menu-item {
    display: none;
  }
}
