.loginContainer {
  display: flex;
  height: 100vh;
}

.brandSide, .formSide {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brandSide {
  background-color: #395986;
  flex: 3; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formSide {
  background-color: #f7f7f7; 
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-header {
  position: relative;
  font-size: 64px;
  font-weight: 400;
  line-height: 80px;
  font-family: 'Libre Baskerville', sans-serif;
  color: #395986;
  margin-bottom: 94px;
  text-align: center;
 
}

.slogan {
  margin-right: 5px;
}

.loginForm {
  width: 300px;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-button {
  position: relative;
  background-color: #395986;
  font-family: 'poppins', sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 2.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  top: 75px;
  left: 56px;
 
  
  }
  
  button:hover {
  background-color: #333; /* Darker background on hover */
  }